/* we don't wan't hideous double-lines border */
table {
    border-collapse: collapse;
}

#warmly_results tbody tr td {
   border: 1px solid black;
}

.r_hdr {
  font-weight: bold;
}

td img {
  vertical-align: top;
}

/* for "Please wait..." and "Results" */
.warmly_result_caption {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.warmly_result_data {
    font-family: arial;
    font-size: 14px;
}

/* wrap text to TD width */
#warmly_results tbody tr td {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
    font-family: arial;
    font-size: 12px;
}

.loading-image {
  position: absolute;
  left: 45%;
  bottom: 45%;
}

.large-spinner {
    height: 48px !important;
    width: 48px !important;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width:1024px){
  .mdl-layout__header{
    display:flex !important;
  }
}

.loading-message {
  margin: 2px 0px;
}

.display-none {
  display:none;
}

#warmly_results p {
  margin-bottom: 4px;
  line-height:  16px;
}

#warmly_results .keywords-list {
  line-height: 16px !important;
  margin-top: 4px;
}

#warmly_results li {
  line-height: 16px !important;
}
