/* we don't wan't hideous double-lines border */
table {
    border-collapse: collapse;
}

#warmly_results tbody tr td {
   border: 1px solid black;
}

.r_hdr {
  font-weight: bold;
}

td img { 
  vertical-align: top;
}

/* for "Please wait..." and "Results" */
.warmly_result_caption {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.warmly_result_data {
    font-family: arial;
    font-size: 14px;
}

/* wrap text to TD width */
#warmly_results tbody tr td {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
    font-family: arial;
    font-size: 12px;
}

/* center loading motion Gif */
.loading_img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
